GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"...","client_email":"...","client_id":"..."}
SHEET_ID=
BACKEND_URL=https://solartech-app-wc7n.onrender.com
JWT_SECRET=solartech_clave_secreta_2024
PORT=4000
